<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <title>Gestion de Inscripcion</title>
</head>
<body>
    <h1>Inscripcion</h1>

    <div class="container">
        <form  method="POST">
          <div class="form-group" id="formulario">
            <label for="descripcion">Descripción:</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion">
          </div>
          <div class="form-group">
            <label for="semestre">Semestre:</label>
            <select class="form-control" id="semestre" name="semestre">
            
            </select>
          </div>
          <div class="form-group">
            <label for="carrera">Carrera:</label>
            <select class="form-control" id="carrera" name="carrera">
             
            </select>
          </div>
          <div class="form-group">
            <label for="estudiante">Estudiante:</label>
            <input type="number" class="form-control" name="" id="estudiante">
          </div>

          <br>
          
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-danger">Cancelar</button>
        </form>
      </div>

      <script>

          // Obtener datos de la tabla carreras desde la API
            $.ajax({
              url: "http://localhost/proyectoFinal/api/carreras.php",
              dataType: "json",
              success: function(response) {
                // Agregar las opciones al select
                response.forEach(function(carrera) {
                  $("#carrera").append("<option value='" + carrera.id + "'>" + carrera.titulo + "</option>");
                });
              },
              error: function(xhr, status, error) {
                console.log(xhr.responseText);
                // Handle error response
              }
            });



      </script>
      <script>

        $.ajax({
          url: "http://localhost/proyectoFinal/api/semestres.php",
          dataType: "json",
          success: function(response) {
            // Agregar las opciones al select
            response.forEach(function(semestre) {
              $("#semestre").append("<option value='" + semestre.numero + "'>" + semestre.numero + "</option>");
            });
          },
          error: function(xhr, status, error) {
            console.log(xhr.responseText);
            // Handle error response
          }
        });



      </script>

      <script>
            $(document).ready(function() {
            $('#formulario').submit(function(event) {
                // Prevenir el envío del formulario por el método tradicional
                event.preventDefault();

                // Obtener los valores de los campos del formulario
                var descripcion = $('#descripcion').val();
                var semestre = $('#semestre').val();
                var carrera = $('#carrera').val();
                var estudiante = $('#estudiante').val();

                // Crear un objeto con los datos a enviar
                var datos = {
                    descripcion: descripcion,
                    semestre: semestre,
                    carrera: carrera,
                    estudiante: estudiante
                };

                // Enviar la solicitud AJAX al servidor
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost/proyectoFinal/api/inscripcion.php',
                    data: datos,
                    success: function(respuesta) {
                        // Procesar la respuesta del servidor
                        var inscripcion = JSON.parse(respuesta);
                        alert('La inscripción se ha guardado con éxito con el ID: ' + inscripcion.id);
                    },
                    error: function() {
                        // Mostrar un mensaje de error si la solicitud falla
                        alert('Ha ocurrido un error al guardar la inscripción');
                    }
                });
            });
        });

      </script>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>