<!DOCTYPE html>
<html lang="es">

<head>
    <title>Listado de usuarios</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Listado de usuarios</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="busqueda">Buscar usuario:</label>
                    <input type="text" class="form-control" id="busqueda" placeholder="Ingrese el número de identificación">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <button id="btn-buscar" class="btn btn-primary btn-block">Buscar</button>
                </div>
            </div>
        </div>
        
        <table id="tabla-usuarios" class="table">
            <thead>
                <tr>
                    <th>Número de identificación</th>
                    <th>Contraseña</th>
                    <th>Tipo de usuario</th>
                    <th>Acciones</th>


                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button id="btn-cargar" class="btn btn-primary">Cargar usuarios</button>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>


            $(document).ready(function() {
            $('#btn-cargar').click(function() {
                $.ajax({
                    url: 'http://localhost/proyectoFinal/api/usuarios.php',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        // Limpiar tabla
                        $('#tabla-usuarios tbody').empty();
                        // Agregar filas con datos
                        $.each(data, function(index, usuario) {
                            let tipoUsuario = "";
                            if (usuario.tipousuario === "a") {
                                tipoUsuario = "Administrador";
                            } else if (usuario.tipousuario === "b") {
                                tipoUsuario = "Bibliotecario";
                            } else if (usuario.tipousuario === "e") {
                                tipoUsuario = "Estudiante";
                            }
                            let acciones = '<td><button class="btn btn-danger btn-eliminar" data-id="' + usuario.numeroIdentificacion + '">Eliminar</button> ';
                            acciones += '<button class="btn btn-primary btn-editar" data-id="' + usuario.numeroIdentificacion + '">Editar</button></td>';
                            $('#tabla-usuarios tbody').append('<tr><td>' + usuario.numeroIdentificacion + '</td><td>' + usuario.contrasena + '</td><td>' + tipoUsuario  + '</td>' + acciones + '</tr>');
                        
                        
                        });
                        
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                });
            });
        });
     </script>

     <script>
        // Eliminar usuario al hacer clic en el botón "Eliminar"
            $(document).on('click', '.btn-eliminar', function() {
                let id = $(this).data('id');
                if (confirm('¿Está seguro que desea eliminar este usuario?')) {
                    $.ajax({
                        url: 'http://localhost/proyectoFinal/api/usuarios.php?numeroIdentificacion=' + id,
                        type: 'DELETE',
                        dataType: 'json',
                        success: function(data) {
                            // Actualizar tabla
                            $('#btn-cargar').click();
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                        }
                    });
                }
            });

     </script>

     <script>
        $(document).ready(function() {
                // ...

                // Evento de escucha del botón de búsqueda
                $('#btn-buscar').click(function() {
                    var busqueda = $('#busqueda').val().trim().toLowerCase();
                    $('#tabla-usuarios tbody tr').each(function() {
                        var numeroIdentificacion = $(this).find('td:eq(0)').text().trim().toLowerCase();
                        if (numeroIdentificacion.indexOf(busqueda) >= 0) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                });
            });

     </script>

     <script>
        // Actualizar usuario al hacer clic en el botón "Editar"
            $(document).on('click', '.btn-editar', function() {
                let id = $(this).data('id');
                let contrasena = prompt('Ingrese la nueva contraseña para el usuario con número de identificación ' + id);
                if (contrasena) {
                    $.ajax({
                        url: 'http://localhost/proyectoFinal/api/usuarios.php',
                        type: 'PUT',
                        data: { numeroIdentificacion: id, contrasena: contrasena },
                        dataType: 'json',
                        success: function(data) {
                            // Actualizar tabla
                            $('#btn-cargar').click();
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log(textStatus, errorThrown);
                        }
                    });
                }
            });

     </script>
</body>
</html>

